<?xml version='1.0'?>
<robot name="rosbot_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="mecanum" default="false" />
  <xacro:arg name="manipulator_usb_port" default="/dev/ttyUSB0" />
  <xacro:arg name="manipulator_baud_rate" default="115200" />
  <xacro:arg name="manipulator_collision_enabled" default="true" />
  <!-- collision_enabled parameter added due to collisions using visual meshes, which are very
    heavy and slow down simulation, this parameter allows to easily disable them -->
  <xacro:arg name="simulation_controllers_config_file" default="$(find rosbot_xl_manipulation_controller)/config/diff_drive_controller_manipulation.yaml" />

  <xacro:include filename="$(find rosbot_xl_description)/urdf/rosbot_xl_macro.urdf.xacro" ns="husarion" />
  <xacro:husarion.rosbot_xl_robot use_sim="$(arg use_sim)" mecanum="$(arg mecanum)" simulation_controllers_config_file="$(arg simulation_controllers_config_file)" />

  <xacro:include filename="$(find ros_components_description)/urdf/slamtec_rplidar_s1.urdf.xacro" ns="lidar" />
  <xacro:lidar.slamtec_rplidar_s1
    parent_link="cover_link"
    xyz="0.0 0.0 0.0"
    rpy="0.0 0.0 0.0"
    use_gpu="true"
    simulation_engine="ignition-gazebo" />
  <!-- use_gpu has to be set to true, CPU lidar doesn't work in ignition - https://github.com/gazebosim/gz-sensors/issues/26 -->

  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x_macro.urdf.xacro" ns="manipulator" />
  <xacro:manipulator.open_manipulator_x parent_link="cover_link"
    xyz="-0.1 0.0 0.0"
    rpy="0.0 0.0 ${pi}"
    use_sim="$(arg use_sim)"
    collision_enabled="$(arg manipulator_collision_enabled)" 
    usb_port="$(arg manipulator_usb_port)" 
    baud_rate="$(arg manipulator_baud_rate)" />

</robot>