<?xml version='1.0'?>
<robot name="rosbot_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="controller_config_file" default="$(find rosbot_xl_manipulation_controller)/config/diff_drive_controller_manipulation.yaml" />
  <xacro:arg name="manipulator_usb_port" default="/dev/ttyUSB0" />
  <xacro:arg name="manipulator_baud_rate" default="1000000" />
  <!-- collision_enabled parameter added due to collisions using visual meshes, which are very
    heavy and slow down simulation, this parameter allows to easily disable them -->
  <xacro:arg name="manipulator_collision_enabled" default="true" />
  <xacro:arg name="joint1_limit_min" default="-2.356" />
  <xacro:arg name="joint1_limit_max" default="5.934" />
  <xacro:arg name="mecanum" default="false" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="simulation_engine" default="ignition-gazebo" />
  <xacro:arg name="namespace" default="None" />

  <xacro:include filename="$(find rosbot_xl_description)/urdf/rosbot_xl_macro.urdf.xacro"
    ns="husarion" />
  <xacro:husarion.rosbot_xl_robot
    controller_config_file="$(arg controller_config_file)"
    mecanum="$(arg mecanum)"
    namespace="$(arg namespace)"
    simulation_engine="$(arg simulation_engine)"
    use_sim="$(arg use_sim)" />

  <xacro:include filename="$(find rosbot_xl_description)/urdf/components/antenna.urdf.xacro"
    ns="antenna" />
  <xacro:antenna.antenna
    parent_link="body_link"
    xyz="-0.155 -0.055 0.065"
    rpy="-1.57 0.0 0.0"
    antenna_angle="0.0" />

    <xacro:include filename="$(find ros_components_description)/urdf/slamtec_rplidar_s1.urdf.xacro"
    ns="lidar" />
  <xacro:lidar.slamtec_rplidar_s1
    parent_link="cover_link"
    xyz="0.0 0.0 0.0"
    rpy="0.0 0.0 0.0" />

  <xacro:include
    filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x_macro.urdf.xacro"
    ns="manipulator" />
  <xacro:manipulator.open_manipulator_x parent_link="cover_link"
    xyz="-0.122 0.0 0.0"
    rpy="0.0 0.0 0.0"
    use_sim="$(arg use_sim)"
    collision_enabled="$(arg manipulator_collision_enabled)"
    usb_port="$(arg manipulator_usb_port)"
    baud_rate="$(arg manipulator_baud_rate)"
    joint1_limit_min="$(arg joint1_limit_min)"
    joint1_limit_max="$(arg joint1_limit_max)" />

</robot>
